

#familyTreeMenu {
	position: absolute;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;
	
	background: rgba(50, 50, 50, .8);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);

	z-index: 1000;
	transition: transform .15s, opacity .15s;
	overflow: auto;
}

#familyTreeMenu.hide {
	transform: scale(2);
	opacity: 0;
	pointer-events: none;
}


	#familyTreeCanvas {
		position: relative;
		width: 100vw;
		height: auto;

		margin: auto;
		padding-top: 50px;
	}