

#mainContent {
	position: absolute;
	left: 0;
	top: 0;

	width: calc(100vw - 380px);
	height: 100vh;

	background: #fff;
	transition: opacity 0.3s;
}













#mainContentHolder {
	position: relative;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
}



#mainContentHolder .mainContentPage {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100vh);

	overflow-x: hidden;
	overflow-y: auto;

	transition: opacity 0.3s;
}


#mainContentHolder .mainContentPage.hide {
	pointer-events: none;
	opacity: 0;
}
	

	#worldScrollHolder {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
	}
	#worldCanvas {
		position: relative;
		left: 0;
		top: 0;
		width: 100vw;
	}




